@charset "utf-8";

/*----------------------secetion-----------------------------*/
.add_outList{				/*버튼을 감싸는 부분1*/
	margin: 15px;
}
.add_button{				/*버튼을 감싸는 부분2*/
	float:right;
}
.add_outList form{
	display: inline-block;
}

.add_outList::after{			/*버튼 공간 float clear*/
	display:block;
	content:"";
	clear:both;
}


/*----------------------input,select 설정----------------------------------*/
input[type=text], [type=date], [type=file], select {
	height:30px;
	padding: 5px 20px;
	box-sizing: border-box;
	border:none;
	border-radius: 5px;
	-webkit-appearance:none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
table td::after{
	display: table-cell;
	content:"";
	clear:both;	
}


/*---------------------게시글-----------------------------*/
.add_list{			 /*콘텐츠를 감싸는 영역*/
	margin-top: 15px;
	width:100%;					
	height:100%;
}
.list_num{
	display: inline-block;
	margin-right: 10px;
	text-align: left;
}
.list_date{
	display: inline-block;
	margin-right: 10px;
	float: right;
	text-align: left;
}
table th{
	width: 100px;
}
table td{
	text-align: left;
	padding: 0 20px;
}
.write_form::after{
	display: block;
	content:"";
	clear:both;	
}
/*---------text_area----------------*/	

.content label{				/*text_area 제목*/
	display: inline-block;
	margin: 10px 16px;
	font-size: 18px;
	font-weight: bold;
}
.text_area {
	width: 1060px;
	height: 430px;
	border-radius:10px;
	padding: 10px 20px;
	border: 1px ridge #ccc;
	resize: none;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
}

/*================= file ====================*/
.fileDiv {
	display: inline-block;
	font-size: 14px;
	margin-right: 15px;
}
.file_icon{
	width: 30px;
	height: 30px;
	vertical-align: middle;
}
