pagination@charset "utf-8";


/*----------------------secetion-----------------------------*/



.add_outList{				/*버튼을 감싸는 부분1*/
	margin: 15px;
}
.add_button{				/*버튼을 감싸는 부분2*/
	float:right;
}
#updateBtn{
	width:80px;
}

.add_outList::after{			/*버튼 공간 float clear*/
	display:block;
	content:"";
	clear:both;
}

.write_form{
	margin-top: 10px;
}
/*----------------------input,select 설정----------------------------------*/
input[type=text], [type=date], [type=file], select {
	height:30px;
	padding: 5px 20px;
	box-sizing: border-box;
	border:none; 
	background-color: #ddf4ff;
	border-radius: 5px;
	-webkit-appearance:none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
table td::after{
	display: table-cell;
	content:"";
	clear:both;	
}

/*---------------------게시글-----------------------------*/
.add_list{			 /*콘텐츠를 감싸는 영역*/
	margin-top: 15px;
	width:100%;					
	height:100%;
}
.list_num{
	display: inline-block;
	margin-right: 10px;
	text-align: left;
}
table th{
	width: 100px;
}
.list_date{
	display: inline-block;
	margin-right: 10px;
	text-align: left;
	float: right;
}
.write_form::after{
	display: block;
	content:"";
	clear:both;	
}
.t_red {
	text-align: right;
	color: red;
}
/*----- 값 입력 부분----------*/
.input_area{					/*값 입력 부분*/
	min-width: 970px;
	float:left;
}
.input_date{					/*날짜 입력부분*/
	min-width: 420px;
	float:left;
}
table td{
	text-align: left;
}
.p_area{
	padding: 0 20px;
}
/*---------text_area----------------*/	

.content label{				/*text_area 제목*/
	display: inline-block;
	margin: 10px 16px;
	font-size: 18px;
	font-weight: bold;
}
.text_area {
	width: 1060px;
	height: 430px;
	border-radius:10px;
	padding: 10px 20px;
	border: 1px ridge #ccc;
	resize: none;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
}

/*==========첨부 파일=============*/
.filebox{
	float: left;
}
.filebox .upload-name { 
	display: inline-block; 
	width: 900px;
	padding: .5em .75em; /* label의 패딩값과 일치 */ 
	font-size: inherit; 
	font-family: inherit; 
	line-height: normal; 
	vertical-align: middle; 
	background-color: #ddf4ff; 
	border: none; 
	}

.filebox > input[type="file"] { 
	position: absolute; 
	width: 1px; 
	height: 1px; 
	padding: 0; 
	margin: -1px; 
	overflow: hidden; 
	clip:rect(0,0,0,0); 
	border: 0; 
	} 
.filebox > label { 
	border: none;
	color: #fff;
	background-color: #3C6188;
	font-size: 14px;
	text-align: center;
	display: inline-block;
	width: 60px;
	height: 30px;
	line-height: 30px;
	border-radius:5px;
	margin: 0 5px;	
	cursor: pointer;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	} /* named upload */ 

	.fileCancel{
		border: none;
		background: none;
		cursor: pointer;
		border-radius: 5px;
		padding: 5px;
		color: #fff;
		background-color: #3C6188;
	}
	.fileDiv{
		display: inline-block;
		font-size: 14px;
		margin-right: 15px;
	}